@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/Altermanns/TRUJILLOISAAC_EXAMENP1.git">visitar mi git para mas info</a>.
       
        <img src="https://images7.memedroid.com/images/UPLOADED530/61e494b96c3b6.jpeg"
             width="300"
             height="300"/>

    </p>
</div>
